// Override this file to add your own SCSS styling.

// basic color options: use only color names as shown in the
// "Color Palette" section of https://tachyons.io/docs/themes/skins/
$siteBgColorCustom: #fffceb;
$textColorCustom: #000000;

$sidebarBgColorCustom: #fff6f7;
$sidebarTextColorCustom: #000000;
$sidebarLinkColorCustom: #134a42;

$headlineColorCustom: #000000;
$headingColorCustom: #000000;

$bodyLinkColorCustom: #0060db;
$navLinkColorCustom: #0060db;

$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #103742;
$buttonHoverBgColorCustom: #c4001a;
$borderColorCustom: #c2b9c4;

// styles h1 and h2
nav#TableOfContents ul li {
  @extend .f5, .lh-title-ns;
  // all links
  a {
    @extend .no-underline;
    //transition: all 50mx ease-in-out;
  }
  // active list items
  &.active {
    @extend .pl3, .bg-#{$siteBgColor}, .bl, .b--#{$borderColor}, .bw1;
  }
  // non-active list items
  &:not(.active) {
    @extend .pl3, .bl, .bw1, .b--transparent;
  }
  // hovering over active links
  &:hover.active a {
    @extend .underline;
  }
  // hovering over non-active links
  &:hover:not(.active) a {
   @extend .underline;
  }
  &a:hover {
    @extend .br;
  }
  // within nested list items
  li {
    // hovering over active links
    &:hover.active a {
      //@extend .dim;
    }
    // hovering over non-active links
    &:hover:not(.active) a {
      @extend .underline; //.dim;
    }
  }
}

.post-body,
.page-body {
  
  p {
  font-size:16px;
  }
  
  //Code box
  pre {
    font-family:"Source Code Pro",monospace;
    background-color:white!important;
    font-size:14px;
    padding:10px;
    line-height:1.5em;
    margin-bottom:1em;
    word-wrap:normal;
    word-break:normal;
    border-radius:3px;
    border:1px solid #e4e4e4;
  }
  
  pre.watch-out {
    background-color: yellow;
    border: 3px solid red;
    font-weight: bold;
  }
  
  //The box in each line of code
  pre code {
    font-size: 1rem;
    display:inline;
    padding:0;
    margin:0;
    background-color:inherit;
    border:none;
    overflow-x: auto;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    
  }
  
  code {
     font-size:1em;
     color:black;
     display:inline-block;
     margin:1px 5px;
     padding:1px 4px;
     background-color:#f8f8f8;
     border-radius:3px;
     border:0px solid #e4e4e4;
  }
  
  a:link {
     color: #268bd2; /*#1d49a0;*/
     text-decoration: none;
  }

  a:hover {
     text-decoration: underline;
     color: #ffa500;
  }

  a:visited {
    color: #ffa500;
  }
  
  mark.black_red {
    background-color: black;
    color: white;
    border: 5px solid red;
}
  

//  // code inside links
//  a > code {
//    // tachyon styles
//    @extend .f6, .pa1, .ba, .bw1, .br0;
//    // standard css properties
//    color: #415200;     // 415200 434f54
//    background-color: none; // DCE3C0 EEF1E0
//    border: none;  // 728e00 b9c680 ebebeb
//  }  

  // inline code (not code in chunks)
//  :not(pre) > code {
//    // tachyon styles
//    //@extend .f6, .pa1, .ba, .bw1 , .br1;
//    // standard css properties
//    color: #434f54;     // 415200 434f54 627A00
//    background-color: #EEF1E0; // DCE3C0 EEF1E0 fefefe
//    border: 1px solid #b9c680;// 728e00 b9c680 ebebeb 
//  }
  
//  mark {
//    color: #434f54;
//    background-color: #EEF1E0;   
//  }

}
